* {
  margin: 0;
  padding: 0;
  font-family: "bold", sans-serif;
}

@font-face {
  font-family: "bold";
  src: url(./CirceRounded-Bold.otf);
}

@font-face {
  font-family: "regular";
  src: url(./CirceRounded-Regular.otf);
}
